<form class="max-w-lg mx-auto mt-8">
    <!-- Players -->
    <div class="mb-6">
        <h3 class="text-xl font-semibold mb-3">Players</h3>
        <div class="grid grid-cols-2 gap-4">
            <div *ngFor="let player of players"
                class="flex items-center">
                <input type="checkbox"
                    [id]="'player-' + player.id"
                    [name]="'player-' + player.id"
                    [checked]="player.selected"
                    class="mr-2">
                <label [for]="'player-' + player.id">{{ player.name }}</label>
            </div>
        </div>
    </div>

    <!-- Winner -->
    <div class="mb-6">
        <label for="winner"
            class="block mb-1">Winner</label>
        <select id="winner"
            name="winner"
            [(ngModel)]="winner"
            class="w-full px-3 py-2 border rounded-md">
            <option [ngValue]="null"
                disabled
                selected>Select Winner</option>

            <option *ngFor="let player of selectedPlayers"
                [ngValue]="player">
                {{ player.name }}
            </option>
        </select>
    </div>

    <!-- Runner Up -->
    <div class="mb-6">
        <label for="runnerUp"
            class="block mb-1">Runner Up</label>
        <select id="runnerUp"
            name="runnerUp"
            [(ngModel)]="runnerUp"
            class="w-full px-3 py-2 border rounded-md">
            <option [ngValue]="null"
                disabled
                selected>Select Runner Up</option>

            <option *ngFor="let player of selectedPlayers"
                [ngValue]="player">
                {{ player.name }}
            </option>
        </select>
    </div>

    <!-- Game -->
    <div class="mb-6">
        <label for="game"
            class="block mb-1">Game</label>
        <select id="game"
            name="game"
            [(ngModel)]="game"
            class="w-full px-3 py-2 border rounded-md">
            <option [ngValue]="null"
                disabled
                selected>Select Game</option>

            <option *ngFor="let game of games"
                [ngValue]="game">
                {{ game.name }}
            </option>
        </select>
    </div>

    <!-- Date -->
    <div class="mb-6">
        <label for="date"
            class="block mb-1">Date</label>
        <input type="date"
            id="date"
            name="date"
            [(ngModel)]="date"
            class="w-full px-3 py-2 border rounded-md">
    </div>

    <button type="submit"
        (click)="onSubmit()"
        class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Submit</button>
</form>