<form class="max-w-lg mx-auto mt-8 px-4">


    <!-- Players -->
    <div class="mb-6">
        <p-multiselect [options]="players"
            [(ngModel)]="selectedPlayers"
            optionLabel="name"
            name="selectedPlayers"
            placeholder="Players"
            [maxSelectedLabels]="5"
            [style]="{'width': '100%'}"
            [panelStyle]="{'width': '100%'}" />

    </div>
    <!-- Game -->
    <div class="mb-6 flex gap-4">
        <p-select [options]="games"
            [(ngModel)]="game"
            optionLabel="name"
            name="game"
            placeholder="Game"
            class="w-3/4" />
        <button type="button"
            class="bg-green-500 hover:bg-green-600 text-white p-2 rounded-md w-1/4"
            (click)="showAddGameModal.set(true)">Add Game</button>
    </div>
    <!-- Winner -->
    <div class="mb-6">
        <p-select [options]="selectedPlayers"
            [(ngModel)]="winner"
            optionLabel="name"
            name="winner"
            placeholder="Winner"
            class="w-full" />
    </div>

    <!-- Runner Up -->
    <div class="mb-6">
        <p-select [options]="selectedPlayers"
            [(ngModel)]="runnerUp"
            optionLabel="name"
            name="runnerUp"
            placeholder="Runner Up"
            class="w-full" />
    </div>

    <!-- Date -->
    <div class="mb-6">
        <p-datepicker [(ngModel)]="date"
            name="date"
            placeholder="Date"
            class="w-full" />
    </div>

    <button type="submit"
        (click)="onSubmit()"
        [disabled]="!winner || !game || !date"
        class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Submit</button>
</form>


<p-dialog header="Edit Profile"
    [modal]="true"
    [(visible)]="showAddGameModal"
    [style]="{ width: '25rem' }">
    <form [formGroup]="addGameForm" (ngSubmit)="onAddGame()">
        <span class="p-text-secondary block mb-8">Add a new game.</span>
        <div class="flex items-center gap-4 mb-4">
            <input pInputText
                formControlName="newGameName"
                class="flex-auto"
                autocomplete="off" />
        </div>
        <button type="submit"
            class="bg-green-500 hover:bg-green-600 text-white p-2 rounded-md w-full">Add Game</button>
    </form>
</p-dialog>