<form class="max-w-lg mx-auto mt-8">


    <!-- Players -->
    <div class="mb-6">

<p-listbox [(ngModel)]="selectedPlayers"
    name="selectedPlayers"
    [options]="players()"
    [multiple]="true"
    optionLabel="name"
    class="w-full" />

    </div>
    <!-- Game -->
    <div class="mb-6 flex gap-4">
        <p-select [options]="games()"
            [(ngModel)]="game"
            optionLabel="name"
            name="game"
            placeholder="Game"
            class="w-3/4" />
        <p-button label="Add Game" type="button"
            (click)="showAddGameModal.set(true)" />
    </div>
    <!-- Winner -->
    <div class="mb-6">
        <p-select [options]="selectedPlayers()"
            [(ngModel)]="winner"
            optionLabel="name"
            name="winner"
            placeholder="Winner"
            class="w-full" />
    </div>

    <!-- Runner Up -->
    <div class="mb-6">
        <p-select [options]="runnersUp()"
            [(ngModel)]="runnerUp"
            [disabled]="!winner()"
            optionLabel="name"
            name="runnerUp"
            placeholder="Runner Up"
            class="w-full" />
    </div>

    <!-- Date -->
    <div class="mb-6">
        <p-datepicker [(ngModel)]="date"
            [maxDate]="date()"
            name="date"
            placeholder="Date"
            class="w-full" />
    </div>

    <p-button label="Submit" type="submit"
        [fluid]="true"
        (click)="onSubmit()"
        [disabled]="!winner() || !game() || !date()" />
</form>


<p-dialog header="Add Game"
    [modal]="true"
    [(visible)]="showAddGameModal"
    [style]="{ width: '25rem' }">
    <form [formGroup]="addGameForm" (ngSubmit)="onAddGame()">
        <div class="flex items-center gap-4 mb-4">
            <input pInputText
                formControlName="newGameName"
                class="flex-auto"
                autocomplete="off" />
        </div>
        <p-button label="Submit" type="submit" />
    </form>
</p-dialog>